.btn{
    border: 0;
    outline: 0;
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 0.5em;
    margin: 1em;
}
.icon{
      padding: .2em;
  border-radius: 5px;
  margin-left: 10px
}

.iconBg {
  background-color: white;
  color: black;

}
.bgNone{
  background-color: transparent;
  color: white;
}
.btn .iconBg:hover{
  background-color: transparent;
  color: white;
}
.btn:hover .bgNone{
  background-color: white;
  color: black;
}
.bgNone {
  background-color: transparent;
  color: white;
}